@model IEnumerable<HD.Entities.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.RestaurantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.RestaurantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTime)
        </td>
        <td>
            
            @if (ViewContext.HttpContext.User.IsInRole("Guest"))
            {
                <table>
                    <tr>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                    </tr>
                </table>
                
            }
            else
            {
                <table>
                    <tr>
                        @Html.ActionLink("Edit", "Edit", new {id = item.Id})  |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                    </tr>
                </table>
                
                
            }


        </td>
    </tr>
}

</table>
